<section class="top-page-hero"
  style="
    background-image: url('./img/background/Abstracts%2011.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vh;
    margin-bottom: 1rem;
  ">
  <div class="top-page-title" style="text-align: center; padding: 2rem; color: #fdfdfd;">
    <h1>{{ partial "utils/title" . }}</h1>

    <div style="text-align: left;">
      <p>
        Oracle Cloud Infrastructure (OCI) を使っていこう! という人のためのチュートリアル集です。<br>
        各項ごとに画面ショットなどを交えながらステップ・バイ・ステップで作業を進めて、OCIの機能についてひととおり学習することができるようになっています。
      </p>
    </div>
  </div>
</section>
